--index-url https://mirror.nju.edu.cn/pytorch/whl/cu118
--extra-index-url https://download.pytorch.org/whl/cu129
--extra-index-url https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple

pydub
ffmpeg
#torch==2.8.0+cu129
#torchvision==0.23.0+cu129
#torchaudio==2.8.0+cu129
librosa
audiomentations
matplotlib
tqdm
pedalboard
auraloss
ml_collections
torch_log_wmse
loralib
omegaconf
einops
beartype
rotary_embedding_torch
#https://huggingface.co/madbuda/triton-windows-builds/resolve/main/triton-3.0.0-cp312-cp312-win_amd64.whl

sageattention
